html{
    font-size: 1em;
    background-color: #252a34;
    color: #F8F8FF;
}

button{
    all: unset;
    cursor: pointer;
    padding: 10px;
    margin-left: 1vw;
    margin-top: 1vh;
    border-radius: 0.3em;
    background-color: #424463;
}

.button-container{
    height: 3.5em;
    margin-top: 1vh;
}


.array-container{
    margin-top: 50px;
    height: 63.15vh;
}


.array-bar{
   width: 3px;
   background-color: #C0C0C0;
   display: inline-block;
   margin: 0 1px;
}

